//Variables
$accentColor: #d86c14;
$textColor: #dbd6d6;
$activeColor: white;
$btnBackgroundGreen: rgb(5, 80, 5);

//Mixins
@mixin orangeGreyText() {
  background: -webkit-linear-gradient(
    top right,
    rgb(107, 103, 103),
    $accentColor
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
