//Variables
$accentColor: #d86c14;
$textColor: #dbd6d6;
$activeColor: white;
$btnBackgroundGreen: rgb(5, 70, 5);
$borderNormal: 2px solid $accentColor;
$borderThin: 1px solid $accentColor;
$accent-red: #c00909;
$userRatingColor: gold; 

//Mixins
@mixin orangeGreyText() {
  background: -webkit-linear-gradient(
    top right,
    rgb(107, 103, 103),
    $accentColor
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin basicPageStyle() {
  padding: 1.5rem 3rem;
  position: relative;
  min-height: 90vh;
  width: 100%;
}

//Save and delete buttons
@mixin controlButtons() {
  background-color: transparent;
  border: none;
  margin-right: 1.5rem;
  outline: none;
  cursor: pointer;
  transition: all 200ms;
  &:hover,
  &:active,
  &:focus {
    transform: scale(1.2);

    img {
      filter: brightness(140%);
    }
  }
}
